{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/css/style_cab.css' %}">
    <title>Clout</title>
</head>

<body>
    <h1 class="lich__title">
        Личный кабинет видеомейкера
    </h1>
    <h3 class="lich__subtitle">
        Заказы
    </h3>
    {% for order in object_list %}
    <div class="lich__box">
        <div class="lich_1">
            <div class="lich__name">Номер заказа</div>
            <div class="lich__number">{{ order.id }}</div>
            <div class="lich__name">Сроки</div>
            <div class="lich__number">{{ order.time_days }} дней</div>
        </div>
        <div class="lich__2">
            <div class="lich__name">Исполнитель</div>
            <div class="lich__number">{{ order.maker.first_name }} {{ order.maker.last_name }}</div>
            <div class="lich__name">Статус заказа</div>
            <div class="lich__stutus"><select>
                <option value="подписание договора">подписание договора</option>
                <option value="препродакшн">препродакшн</option>
                <option value="продакшн">продакшн</option>
                <option value="проект сдан">проект сдан</option>
            </select></div>
        </div>

    </div>
    {% endfor %}
</body>

</html>